@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,300;1,700&family=Roboto+Slab:wght@100;200;300;400;500;900&display=swap');

.progress {
  width: 4.25rem;
  height: 4.25rem;
  transform: rotate(45deg);
  border-radius: 50%;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(48, 123, 190) rgb(48, 123, 190) rgb(48, 123, 190) rgb(232, 232, 232);
}
